@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

#myBar {
    position: fixed; 
    background: #5d0a94; 
    top: 0; 
    left: 0; 
    height: 5px; 
    width: 0; 
    z-index: 999999999999; 
    transition: all .5s;
}

body {
    padding: 0;
    margin: 0;
    transition: 0.8s;
    background-color: #070F38;
}

::-webkit-scrollbar {
    display: none;
}

* {
    font-family: 'Poppins', sans-serif;
}

html {
    scroll-behavior: smooth;
}

nav {
    position: absolute;
    width: 100vw;
    height: 90px;
    padding: 20px;
    z-index: 9999;
    display: none;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
}

.new {
    position: absolute;
    width: 100vw;
    left: 0;
    z-index: 99;
}

.navbar {
    transition: 0.7s;
}

nav div {
    width: 50%;
    padding: 0 60px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.btn-nav {
    position: relative;
    background-color: rgb(9, 38, 255);
    color: white;
    font-size: 25px;
    padding: 4px 12px;
    border: none;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
}

.brand-nav img {
    width: 50px;
    height: auto;
}

nav li {
    list-style: none;
    font-weight: 500;
    font-size: 20px;
    color: rgb(255, 255, 255);
    cursor: pointer;
    margin: 0 0px;
}

/* section1 */

section {
    position: relative;
    margin: 0;
    width: 100vw;
}

.section1 {
    position: relative;
    height: 659px;
    padding-top: 0px;
    border-radius: 0 0 300px 0px;
    z-index: 55;
    display: flex;
    /* background-image: url('./img/Frame1.svg'); */
    flex-direction: column;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    justify-content: left;
    align-items: center;
}

.back1 {
    position: absolute;
    left: -100px;
    transform: rotate(-30deg) scale(0.9);
}

.back2 {
    position: absolute;
    left: 0;
    transform: rotate(-30deg) scale(0.9);
}

.hero-desc {
    position: relative;
    z-index: 488;
    color: rgb(255, 255, 255);
    display: flex;
    z-index: 44;
    flex-direction: column;
    justify-content: center;
    padding: 0px 40px 70px 70px;
    align-items: center;
}

.hero-desc h1 {
    position: relative;
    font-size: 90px;
    width: 68%;
    line-height: 1em;
    font-weight: bold;
    color: rgb(255, 255, 255);
}

.hero-desc h1::before {
    position: absolute;
    content: '';
    width: 200px;
    height: 10px;
    background-color: rgb(255, 255, 255);
    bottom: 0;
    left: 0;
}

.hero-desc p {
    font-size: 20px;
    margin-top: -35px;
    width: 50%;
    color: rgb(255, 255, 255);
}

.btn-turun {
    border: none;
    outline: none;
    margin-top: 12px;
    border-radius: 40px;
    width: 240px;
    font-weight: 500;
    background-color: rgb(255, 255, 255);
    cursor: pointer;
    padding: 12px;
    color: rgb(0, 0, 0);
    font-size: 21px;
}

.topLeft, .center, .bottomLeft, .bottomRight {
    position: absolute;
}

.topLeft {
    top: 0;
    left: -30px;
}

.center {
    top: -10%;
    left: 25%;
}

.bottomLeft {
    left: -340px;
    bottom: 0;
}

.bottomRight {
    right: -80px;
    bottom: 0px;
}

.circle {
    position: absolute;
    top: 200px;
    right: 150px;
    z-index: 666;
    animation: bounce2 3.3s ease-in-out infinite;
}

.box {
    position: absolute;
    right: 400px;
    z-index: 666;
    bottom: 100px;
    animation: bounce 3.6s ease-in-out infinite;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@-webkit-keyframes bounce2 {
    0%, 100% {
      -webkit-transform: translateY(20px);
    }
    50% {
      -webkit-transform: translateY(-25px);
      -webkit-transform: translateX(5px);
    }
}

@keyframes bounce2 {
    0%, 100% {
        transform: translateY(20px);
    }
    50% {
        -webkit-transform: translateX(5px);
      transform: translateY(-15px);
    }
}

@-webkit-keyframes bounce {
    0%, 100% {
      -webkit-transform: translateY(10px);
    }
    50% {
      -webkit-transform: translateY(-20px);
    }
}

  @keyframes bounce {
    0%, 100% {
      transform: translateY(10px);
    }
    50% {
      transform: translateY(-20px);
    }
}

.e1, .e2, .e3, .e4 {
    position: absolute;
}

.e1 {
    bottom: 300px;
    left: 400px;
}

.e2 {
    top: 400px;
    right: 600px;
}

.e3 {
    top: 300px;
    right: 300px;
}

.e4 {
    top: 150px;
    left: 400px;
}

/* section2 */

.section2 {
    position: relative;
    background-color: white;
    border-radius: 0 0 300px 0px;
    height: max-content;
    padding: 0 50px 50px 50px;
}

.section2 h2 {
    color: rgb(24, 23, 23);
    font-size: 70px;
    font-weight: bold;
}

.section2 a .download_icon {
    position: absolute;
    top: 40%;
    transform: translate(-50%, -50%) scale(0.85);
    left: 50%;
    z-index: 7777;
    opacity: 0;
    color: white;
    background-color: rgb(255, 255, 255);
    border-radius: 100px;
    padding: 10px;
    width: 60px;
    height: 60px;
    cursor: pointer;
    transition: 0.5s;
}

.download_icon:hover {
    transform: translate(-50%, -50%);
    transition: 0.4s;
}

.section2 a:hover .download_icon {
    transform: 0.4s;
    opacity: 1;
    top: 50%;
    transition: 0.6s;
}

.section2 .circle2 {
    position: absolute;
    width: 110px;
    top: 60px;
    right: 300px;
    height: auto;
}

/* section3 */

.section3 {
    position: relative;
    width: 100vw;
    overflow: hidden;
    padding: 140px 140px 120px 140px;
    height: 400px;
}

.section3 h1 {
    font-size: 140px;
    color: transparent;
    -webkit-text-stroke: 4px white;
}

.framework {
    color: rgb(255, 255, 255);
}

.valclass {
    position: absolute;
    left: 130px;
    top: 160px;
}

.creation {
    position: absolute;
    top: 0px;
    margin-left: 100px;
}

.wrap-sec3 {
    width: 100vw;
    display: flex;
    height: 400px;
    overflow: hidden;
}

.hdb {
    position: absolute;
    top: -140px;
    width: 70%;
    right: 130px;
}

.fa-github {
    position: absolute;
    right: 400px;
    z-index: 99;
    top: 100px;
    cursor: pointer;
    color: white;
    font-size: 60px;
    transition: 0.4s;
}

.fa-github:hover {
    filter: brightness(90%);
    transform: scale(1.1);
    transition: 0.4s;
}

.section3 p {
    color: white;
    cursor: pointer;
}

.section3 p {
    position: absolute;
    bottom: 130px;
    margin-left: 150px;
    color: white;
    text-decoration: none;
    font-weight: 500;
    font-size: 20px;
}

.section3 p::before {
    position: absolute;
    transition: 0.4s;
    content: '';
    height: 30px;
    width: 0;
}

.section3 p:hover::before {
    position: absolute;
    content: '';
    transition: 0.4s;
    width: 55px;
    height: 30px;
    background-color: rgb(250, 213, 3);
}

.section3 .e {
    color: rgb(250, 213, 3);
    -webkit-text-stroke: 1px rgb(250, 213, 3);
}

.section3 .fa-angle-right {
    transition: 0.4s ease;
    margin-left: 10px;
    animation: arr 1s ease-in infinite;
}

@keyframes arr {
    0% {
        margin-left: 10px;
    }
    50% {
        margin-left: 15px;
    }
    100% {
        margin-left: 10px;
    }
}

.section3 a:hover .fa-arrow-right {
    transition: 0.4s;
    margin-left: 20px;
}


/* section4 */

.section4 {
    position: relative;
    width: 100vw;
    background-color: #fff;
    height: 700px;
    z-index: 4;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    border-radius: 200px 0 0 0 ;
    padding-top: 70px;
    justify-content: center;
    align-items: center;
}

.wrap-sec4 {
    width: 100%;
    text-align: center;
    height: 100%;
}

.wrap-sec4 img {
    width: 80%;
    position: absolute;
    left: 50%;
    top: 55%;
    transform: translate(-50%, -50%);
}

.wrap-sec4 h2 {
    font-weight: bold;
    font-size: 45px;
    color: rgb(17, 17, 17);
    opacity: 0.8;
    width: 40%;
}

.wrap-sec4 p {
    position: relative;
    top: -30px;
    width: 40%;
    font-weight: 500;
    font-size: 17px;
}

.fa-angle-right1 {
    background-color: #fff;
    border-radius: 200px;
    font-size: 50px;
    font-weight: 500;
    width: 90px;
    height: 90px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    text-align: center;
    box-shadow: 1px 2px 6px rgba(197, 197, 197, 0.781);
    transition: 0.4s;
}

.fa-angle-right1:hover {
    filter: brightness(90%);
    transform: scale(1.1);
    transition: 0.4s;
}

.title-sec4 {
    position: relative;
    top: 50px;
    z-index: 55;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section5 {
    position: relative;
    width: 100vw;
    z-index: 4;
    height: 680px;
    background-color: transparent;
    border-radius: 0 0 20px 0;
}

.section5 .fa-angle-right {
    transition: 0.4s ease;
    margin-left: 10px;
    animation: arr 1s ease-in infinite;
}

@keyframes arr {
    0% {
        margin-left: 10px;
    }
    50% {
        margin-left: 15px;
    }
    100% {
        margin-left: 10px;
    }
}

.section5 a {
    position: absolute;
    bottom: 185px;
    margin-left: 150px;
    color: white;
    text-decoration: none;
    font-weight: 500;
}

.section5 p {
    font-size: 22px;
}

.bg-ds {
    right: 100px;
    width: 500px;
    filter: brightness(90%);
}

.bg-ds2 {
    width: 500px;
    margin-top: 100px;
    right: 180px;
}

.codes {
    color: rgb(250, 213, 3);
    -webkit-text-stroke: 1px rgb(250, 213, 3);
}

.section5 a {
    color: white;
    left: 100px;
    overflow: hidden;
    margin-top: 100px;
    position: absolute;
    font-size: 40px;
}

.section5 img {
    position: absolute;
    top: 150px;
    z-index: -1;
}

.section5 h1 {
    color:  transparent;
    -webkit-text-stroke: 3px white;
    font-size: 130px;
}

.dotsz {
    position: absolute;
    width: 400px;
    left: 100px;
    background-image: radial-gradient(transparent 85%, #d0dbffb6 20%);
    background-size: 10px 10px;
    height: 300px;
}

/* section6 - slider */

.section6 {
    position: relative;
    margin-top: -100px;
    width: 100vw;
    overflow: hidden;
    z-index: 88;
    height: 800px;
    padding-top: 0px;
    background-color: transparent;
}

.banner {
    position: relative;
    width: 100vw;
    height: 100%;
    overflow: hidden;
    top: 100px;
    display: flex;
    flex-wrap: wrap;
}

.banner::before {
    position: absolute;
    content: '';
    z-index: 4444;
    width: 100%;
    top: 0;
    height: 100%;
    background-color: #e3e3e483;
}

.banner .blocks {
    position: relative;
    top: 0px;
    background-attachment: fixed;
    background-image: url('../img/my.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 6.5vw;
    height: 5vh;
    border: 0.88px solid rgba(128, 128, 128, 0.315);
    display: block;
    background-color: #fff;
}

.leftz {
    left: -1000px;
}

#backs {
    position: absolute;
    color: black;
    border-radius: 200px;
    width: 50px;
    z-index: 9994343499;
    left: 60px;
    height: 55px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 20px 15px 15px;
    box-sizing: content-box;
    font-weight: normal;
    top: 50px;
    font-size: 40px;
    background-color: #fff;
    transition: 0.4s;
}

#backs:hover {
    filter: brightness(90%);
    transform: scale(0.95);
    transition: 0.4s;
}

.list-product {
    position: absolute;
    top: 270px;
    margin-left: -40px;
    z-index: 79999997;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100vw;
    height: max-content;
}

.list-product h2 {
    font-size: 50px;
    color: white;
}

.list-product ul {
    display: flex;
    position: relative;
    top: -70px;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.list-product ul li {
    list-style: none;
}

.d, .e2a {
    width: 220px;
    padding: 50px;
    height: 100%;
}

.b, .v, .s {
    width: 130px;
}   

.s {
    margin-right: 0px;
    border-radius: 10px;
}

.baselibs {
    position: relative;
    overflow: hidden;
    border-radius: 200px 0 0 0px;
    height: 900px;
    width: 100vw;
    z-index: 9;
    background-color: #fff;
}

.baselibs .wrap-baselibs img {
    width: 30%;
}

.wrap-baselibs {
    display: flex;
    background-color: rgb(31, 31, 31);
    justify-content: center;
    align-items: center;
    color: white;
    border-radius: 20px 20px 0 0 ;
    width: 88vw;
    margin-top: 80px;
    margin-left: auto;
    margin-right: auto;
    height: 95%;
    position: relative;
    left: 40px;
    overflow: hidden;
}

.baselibs-left {
    width: 25%;
    height: 100%;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    background-color: rgb(116, 116, 116);
}

.baselibs-left ul li {
    list-style: none;
    color: white;
}

.baselibs-left i {
    margin-right: 12px;
}

.baselibs-right {
    position: relative;
    width: 75%;
    display: flex;
    overflow: hidden;
    flex-direction: column;
    background-color: rgb(82, 82, 82);
    height: 100%;
}

.navbar-baselibs ul {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.navbar-baselibs ul li {
    list-style: none;
    font-weight: bold;
    margin: 0 20px 0 0;
    position: relative;
    top: 10px;
}

.navbar-baselibs {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 10px 15px;
    color: white;
}

.btn-baselibs {
    position: absolute;
    border: none;
    outline: none;
    border-radius: 74px;
    color: white;
    top: 25px;
    right: 75px;
    background-color: rgb(255, 187, 0);
    font-weight: 500;
    cursor: pointer;
    z-index: 3;
    font-size: 20px;
    padding: 10px;
    box-shadow: 0 0 16px rgba(255, 187, 0, 0.753);
}

.banner-baselibes {
    position: relative;
    width: 100%;
    height: max-content;
    padding: 20px;
    justify-content: center;
    align-items: center;
}

.wrap-banner-baselibs {
    border-radius: 12px;
    width: 90%;
    margin-left: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    background-color: rgb(70, 70, 70);
    box-shadow: 0 0 8px rgba(63, 63, 63, 0.822);
}

.banner-right {
    position: relative;
    padding: 20px;
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.banner-left {
    position: relative;
    padding: 20px;
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.banner-left h1 {
    position: relative;
    top: -25px;
    font-size: 33px;
    font-weight: bold;
}


.brand-baselibs {
    width: 100%;
    padding: 30px 30px 30px 10px;
    height: max-content;
}

.brand-baselibs img {
    height: 50px;
}

.baselibs-left ul li {
    position: relative;
    left: -40px;
    margin: 0 0 40px 0;
    width: 160px;
    padding: 10px 10px 10px 40px;
    border-radius: 0 30px 30px  0px;
    transition: 0.4s;
}

.baselibs-left ul li:hover {
    cursor: pointer;
    width: 160px;
    transition: 0.4s;
    background-color: rgb(78, 78, 78);
    border-radius: 0 30px 30px  0px;
}

.banner-left button {
    position: absolute;
    border: none;
    outline: none;
    border-radius: 74px;
    color: white;
    bottom: 65px;
    left: 40px;
    background-color: rgb(255, 187, 0);
    font-weight: 500;
    cursor: pointer;
    z-index: 3;
    font-size: 20px;
    padding: 10px;
    box-shadow: 0 0 16px rgba(255, 187, 0, 0.753);
}

.packages-baselibs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 14px;
    box-sizing: border-box;
    align-items: left;
    width: 90%;
    border-radius: 10px;
    background-color: rgb(70, 70, 70);
    box-shadow: 0 0 8px rgba(63, 63, 63, 0.822);
    position: relative;
    margin-left: auto;
    margin-top: 30px;
    margin-right: auto;
    overflow-x: auto;
}

.wrap-baselibs-right {
    overflow-y: scroll;
    height: max-content;
}

.wrap-packages-baselibs {
    display: flex;
    width: max-content;
}

.card-packages {
    cursor: pointer;
    width: 180px;
    height: 200px;
    margin: 10px 10px 10px 15px;
    box-shadow: 0 0 8px rgba(63, 63, 63, 0.822);
    border-radius: 6px;
    background-color: rgb(43, 41, 41);
    transition: 0.4s;
    padding: 30px;
}

.card-packages:hover {
    transition: 0.4s;
    position: relative;
    top: -10px;
}

.wrap-right {
    width: 100%;
    display: flex;
    overflow-x: scroll;
}

.card-packages h4 {
    font-size: 23px;
}

.card-packages .author {
    position: relative;
    top: -30px;
    left: 12px;
    opacity: 0.8;
}

.packages-baselibs h3 {
    margin-left: 20px;
}

.card-packages p {
    position: relative;
    border: none;
    outline: none;
    border-radius: 74px;
    top: -30px;
    transform: scale(0.88);
    color: white;
    left: 0px;
    background-color: rgb(255, 187, 0);
    font-weight: 500;
    cursor: pointer;
    z-index: 3;
    width: max-content;
    padding: 10px;
    box-shadow: 0 0 16px rgba(255, 187, 0, 0.753);
}